body {
    background-color: rgb(197, 155, 155);
    color: white;

}

p {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

div {
    background-color: rgb(228, 160, 128);
    width: 500px;

}

.top-section {
    background-color: rgb(205, 125, 50);

}

.bottom-section {
    background-color: bisque;
}

.box {
    background: pink;
    width: 300px;
    margin: 50px;
    text-align: center;

    border-width: 5px;
    border-color: rgb(207, 87, 87);
    border-style: solid;

    padding: 50px
}

.login {
    background: white;
    color: black;
    text-align: center;
    font-family: Arial;

    margin: auto;
    margin-top: 200px;
    border-width: 5px;
    border-color: rgb(219, 90, 90);
    border-style: solid;

    padding: 20px 0px 110px 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: rgb(219, 90, 90);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}